/* Action Buttons */
.bttn-success {
  background-color: #4F24EE !important; /* vib_blue */
  font-weight: bold !important;
} 

.bttn-danger {
  background-color: #7D26C9 !important; /* vib_purple */
  font-weight: bold !important;
  width: 170px !important;
}

h2 {
  font-weight: bold !important;
  font-size: 4em;
}